# 统一结束符和tab缩进 http://EditorConfig.org

root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2

# Set default charset
[*.{js,html,css}]
charset = utf-8

[*.js]
indent_style = tab
indent_size = 2
tab_width = 2
